body {
    background-color: lightseagreen;

}

h1 {
    text-align: center;
    background-color: lightskyblue;
    border: 2px solid;
    font-size: 350%;
    padding: 10px;

}

p {
    text-align: center;
    font-family: courier;
    font-size: 150%;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    text-align: center;
    padding: 20px;

}